.dropping-soon {
    overflow-x: hidden;
}
.dropping-soon div{
    display: flex;
    white-space: nowrap;
    padding: 10px 0px;
    animation: animate 40s linear infinite;
}
.dropping-soon p{
    margin: 0px 20px;
}
@keyframes animate {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}