@font-face {
  font-family: Mogen;
  src: url("./assets/fonts/Mogen\ Demo\ Version.otf") format("opentype");
}
@font-face {
  font-family: Helvetica;
  src: url("./assets/fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaBold;
  src: url("./assets/fonts/Helvetica-Bold.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaLight;
  src: url("./assets/fonts/Helvetica\ Light.ttf") format("truetype");
}
@font-face {
  font-family: BAHNSCHRIFT;
  src: url("./assets/fonts/BAHNSCHRIFT.TTF") format("truetype");
}

.app{
  font-family: Helvetica;
}

body::-webkit-scrollbar{
  width: 0.5em;
}
body::-webkit-scrollbar-track{
  background: #090D07;
}
body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 100vw;
  border: 1px solid #090D07;
}

@supports (scrollbar-color: red blue){
  *{
    scrollbar-color: #fff #090D07;
    scrollbar-width: thin;
  }
}
